* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	list-style: none;
	background-color: rgb(214, 221, 218);
}
.slide {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-size: cover;
	background-position: center center;
}
.slideshow {
	position: absolute;
	width: 800px;
	height: 400px;
	margin-top: -180px;
	object-fit: cover;
	overflow: hidden;
	box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.3);
	border-radius: 15px;
}
.slideshow ul {
	position: relative;
	left: 0;
	width: 9000px;
	transition: left .3s linear;
	animation: slide 15s infinite;
}
.slideshow ul li {
	display: inline-block;
	height: auto;
	float: left;
	width: 800px;
}
.single-img {
	margin: 0 auto;
	padding: 0;
	width: 800px;
}
.single-img img {
	width: 104%;
}
@keyframes slide {
	20% {
		left: 0;
	}
	25% {
		left: -800px;
	}
	45% {
		left: -800px;
	}
	50% {
		left: -1600px;
	}
	70% {
		left: -1600px;
	}
	75% {
		left: -2400px;
	}
	98% {
		left: -2400px;
	}
	100% {
		left: 0;
	}
}

.data{
	margin-top: -70px;
	margin-left: 350px;
}

.data1{
	font-size: 1.2rem;
	align-items: center;
	margin-top: 20px;
	width: 600px;
	margin-left: 350px;
	

}

.Opens{
		color: green;
}